$font-stack: "IBM Plex Sans", helvetica, arial, sans-serif;

// colors
$chart-yellow: #fff1cb;
$chart-orange: #be64ac; // FAA43A fed475
$chart-blue: #646db4; // 5DA5DA 9ecffa 94caf9 48a6f9 87cef4 2194f9
$chart-grey: #eee;
$chart-highlight: #b72399; // #be64ac

$darkest-grey: #333f48; // 333
$darker-grey: #222;
$dark-grey: #616e77; // 666
$grey: #6B7D8B; // 999
$light-grey: #dbe5ec; // e3e3e3
$lightest-grey: #f6f8fa; // f6f8fa f5f6f7 f9f9f9
