@import 'common.scss';

@charset "UTF-8";
* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

a img {
  border: none; }

body {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: $font-stack;
  color: #000; }

.loading body {
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  *font-weight: normal; }

h1 {
  font-size: 19px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 14px; }

p {
  font-size: 12px; }

strong {
  font-weight: bold; }

abbr {
  border-width: 0 0 1px 0;
  border-style: dashed;
  cursor: pointer; }

a {
  color: #2065c5; }
  a:visited {
    color: #2065c5; }
  a:focus {
    color: #000; }
  a:hover {
    color: #000; }
  a:active {
    color: #000; }
  a.inactive {
    color: #333;
    cursor: default;
    text-decoration: none; }

.wizard-module {
  margin: 20px 0 0 0; }

.separator {
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd; }

.word-break {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word; }

.center {
  text-align: center; }

.centered {
  margin-left: auto;
  margin-right: auto !important; }

.right {
  display: block;
  float: right; }

.align-right {
  text-align: right; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clear-both {
  display: block;
  clear: both; }

.clear-left {
  display: block;
  clear: left; }

br.clear-both, br.clear-left {
  height: 0px; }

.hide {
  display: none; }

.full {
  width: 100%; }

.span-1 {
  width: 40px; }

.span-2 {
  width: 100px; }

.span-3 {
  width: 160px; }

.span-4 {
  width: 220px; }

.span-5 {
  width: 280px; }

.span-6 {
  width: 340px; }

.span-7 {
  width: 400px; }

.span-8 {
  width: 460px; }

.span-9 {
  width: 520px; }

.span-10 {
  width: 580px; }

.span-11 {
  width: 640px; }

.span-12 {
  width: 700px; }

.span-13 {
  width: 760px; }

.span-14 {
  width: 820px; }

.span-15 {
  width: 880px; }

.span-16 {
  width: 940px; }

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16 {
  margin-right: 20px; }

.single-column, .last-column {
  margin-right: 0; }

.standalone-column {
  margin: 0; }

.line, .lastUnit {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1; }

.unit {
  float: left;
  _zoom: 1; }

.unitExt {
  float: right; }

.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.lastUnit {
  float: none;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
  width: auto; }

.media {
  width: auto; }
